[submodule "vim/bundle/bufkill"]
	path = vim/bundle/bufkill
	url = https://github.com/cometsong/bufkill.vim.git
[submodule "vim/bundle/showmarks"]
	path = vim/bundle/showmarks
	url = https://github.com/jacquesbh/vim-showmarks
[submodule "vim/bundle/startify"]
	path = vim/bundle/startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "vim/bundle/buffergator"]
	path = vim/bundle/buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "vim/bundle/tm"]
	path = vim/bundle/tm
	url = git@github.com:worblehat/vim-tm-syntax.git
